<h1 mat-dialog-title>{{ data.name.common }} </h1>
<mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="start space-evenly" fxLayoutGap="20px">

        <img [src]="data.coatOfArms.png" alt="Coat of Arms of the country" width="35%" loading="lazy"
            draggable="false">

        <div fxLayout="column">
            <span fxLayout="row" fxFlexAlign="center center">
                <mat-icon aria-hidden="false" fontIcon="verified" color="primary">
                </mat-icon>
                <p>{{ data.name.official }}</p>
            </span>
            <span fxLayout="row" fxFlexAlign="center center">
                <mat-icon aria-hidden="false" fontIcon="groups"></mat-icon>
                <p>{{ data.population | number:'1.0-4' || '' }}</p>
            </span>
            <span fxLayout="row" fxFlexAlign="center center">
                <mat-icon aria-hidden="false" fontIcon="public"></mat-icon>
                <p>{{ data.region }}</p>
            </span>
            <span fxLayout="row" fxFlexAlign="center center">
                <mat-icon aria-hidden="false" fontIcon="location_on"></mat-icon>
                <p>{{ data.subregion }}</p>
            </span>
            <span fxLayout="row" fxFlexAlign="center center">
                <mat-icon aria-hidden="false" fontIcon="location_city"></mat-icon>
                <p>{{ data.capital }}</p>
            </span>
            <span fxLayout="row" fxFlexAlign="center center">
                <mat-icon aria-hidden="false" fontIcon="domain"></mat-icon>
                <p></p>
            </span>
            <span fxLayout="row" fxFlexAlign="center center">
                <mat-icon aria-hidden="false" fontIcon="attach_money"></mat-icon>
                <p>{{ data.currencies.currency }}</p>
            </span>
            <span fxLayout="row" fxFlexAlign="center center">
                <mat-icon aria-hidden="false" fontIcon="language"></mat-icon>
                <p>{{ data.languages.entries }}</p>
            </span>
        </div>

    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
