@import './src/styles/fonts.scss';

::ng-deep.mat-dialog-content
{
    align-content: center;
    padding: 40px 80px 40px 80px;
    background-color: var(--body) !important;
}

::ng-deep.mat-dialog-container
{
  background-color: var(--body) !important;
}

.mat-icon
{
  color: var(--primary);
}

h1
{
@include font-ExtraBold;
@include font-style(36px, --text, 36px);
}

h2
{
@include font-bold;
@include font-style(14px, --text, 12px);
}

h3
{
@include font-ExtraBold;
@include font-style(14px, --text, 12px);
}

p
{
@include font-ExtraBold;
@include font-style(14px, --text, 14px);
margin: 8px;
}

a
{
  @extend p;
  cursor: pointer;
  margin-left: 1em;
  background-color: var(--primary);
  padding: 0.5em;
  border-radius:  0.5em;
}

mat-button, mat-dialog-close
{
  color: var(--text);
}
