@import '/src/styles/fonts.scss';

header
{
height: 80px;
padding: .5rem;
background-color: var(--body);
border-bottom: solid 1px var(--body);
top: 0;
position: fixed;
width: 100%;
box-shadow: 3px 2px 10px 1px var(--primary);
}

h1
{
    @include font-bold;
    @include font-style(20px, --text, 16px);
    margin-left: 10px;
}

img
{
    height: 20px;
    width: 20px;
    padding: 5px;
}

.btn
{
    background-color: var(--body);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
