@import '/src/styles/colors.scss';
@import '/src/styles/fonts.scss';

.card
{
margin: 20px;
height: 300px;
width: 400px;
background-color: $Dark-Gray;
border-radius: 10px;
}

img
{
    height: 150px;
    width: 100%;
}