@import '/src/styles/colors.scss';
@import '/src/styles/fonts.scss';

.card
{
@include font-bold;
@include font-style(16px, $Very-Dark-Blue, 36px);
display: grid;
grid-template-columns: repeat(4,1);
margin: 20px;
height: 400px;
width: 280px;
background-color: $Dark-Gray;
border-radius: 10px;
}

img
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 180px;
    width: 280px;
}