@import '/src/styles/fonts.scss';
@import '/src/styles.scss';

h1
{
@include font-bold;
@include font-style(26px, --text, 26px);
margin-left: 30px;
}

h2
{
@include font-medium;
@include font-style(14px, --text, 8px);
margin: 10px 0 10px 5px;
}

h3
{
@include font-light;
@include font-style(14px, --text, 8px);
margin: 10px 0 10px 5px;
}

.card
{
display: grid;
grid-template-columns: repeat(4,1);
margin: 20px;
height: 350px;
width: 280px;
background-color: var(--body);
border-radius: 10px;
box-shadow: 3px 2px 10px 1px var(--primary);
}

img
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 180px;
    width: 280px;
}

.sub-container
{
    margin-left: 30px;
    margin-right: 30px;
}