@import "/src/styles/fonts.scss";
@import "/src/styles.scss";

h1 {
  @include font-bold;
  @include font-style(20px, --text, 20px);
}

h2 {
  @include font-medium;
  @include font-style(14px, --text, 8px);
}

h3 {
  @include font-light;
  @include font-style(14px, --text, 8px);
}

.card {
  width: 300px;
  background-color: var(--primary);
  border-radius: 1rem;
  padding: 1rem;
  color: var(--text);
  cursor: pointer;
}

.hero {
  background-color: #fef4e2;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1.5rem;
  font-size: 0.875rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: auto;
  height: 100px;
  object-fit: cover;
  filter: drop-shadow(2px 2px 5px var(--primary));
  border-radius: 4px;
}

.sub-container {
  padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}
