@import './src/styles/colors.scss';
@import './src/styles/fonts.scss';

input, select
{
    @include font-bold;
    @include font-style(16px, $White, 36px);
    margin: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
    background-color: $Blue;
    border: 2px solid $Dark-Gray;

    ::selection
    {
        border-color: red;
        color: red
    }
}



.search, .select
{width: 100%;
}