@import './src/styles/colors.scss';
@import './src/styles/fonts.scss';

input
{
    @include font-bold;
    @include font-style(16px, $White, 36px);
    margin: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
    background-color: $Blue;
    border: 2px solid $Dark-Gray;
}

select
{
    @include font-bold;
    @include font-style(16px, $White, 36px);
    margin: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
    background-color: $Blue;
    border: 2px solid $Dark-Gray;
}

select.mat-input-element:not(:disabled) {
    cursor: pointer;
    color: $White;
    background-color: $Dark-Blue;
    caret-color: none;
}

.search, .select
{
    width: 100%;
}

.mat-form-field-subscript-wrapper {
    position: absolute;
    box-sizing: border-box;
    width: 0;
    overflow: unset;
    color: none;
}

.mat-form-field-appearance-fill .mat-form-field-infix .mat-form-field-flex {
    padding: 0;
    border-radius: 0;
}

.mat-form-field-type-mat-native-select .mat-form-field-infix::after {
    color: none;
}


.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: none;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0;
}

.mat-form-field-wrapper {
    position: absolute;
}

.mat-form-field-wrapper {
    padding-bottom: 0;
}

.mat-form-field-underline {
    position: absolute;
    width: 100%;
border-color: none;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
    display: block;
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
}

.mat-form-field-ripple {
    position: absolute;
    left: 0;
    width: 100%;
    transform-origin: 0;
    transform: scaleX(0);
    opacity: 0;
    transition: none;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
background-color: none;
}

.mat-form-field {
    line-height: 0;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: none;
}

.mat-input-element {
    caret-color: $White;
}

.mat-form-field.mat-focused {
    color: $White;
}

.mat-toolbar .mat-form-field-underline,.mat-toolbar .mat-form-field-ripple,.mat-toolbar .mat-focused .mat-form-field-ripple {
    background-color: none;
}