<div fxLayout="row" fxLayoutAlign="space-between">
    <div class="search" fxLayout="column" fxLayoutAlign="space-between stretch">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput>
            </mat-form-field>
        </form>
    </div>

    <div class="select">
        <mat-form-field>
            <select matNativeControl>
                <option *ngFor="let country of countries"> {{ country.name.common }}</option>
            </select>
        </mat-form-field>
    </div>
</div>