@import './src/styles/colors.scss';
@import './src/styles/fonts.scss';

p
{
    @include font-bold;
    @include font-style(40px, $White, 24px);
}

.body
{
position: absolute;
bottom: 0;
left: 0;
right: 0;
height:90%;
background-color: $Very-Dark-Blue2;
}

.container
{
    margin: 20px;
}

input
  {
	width: 350px;
    height: 60px;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
	border-radius: 5px;
    background-color: $Very-Dark-Blue;
    pointer-events: fill;

    ::backdrop
    {
        border: 1px;
        border-color: red;
    }
  }
