@import './src/styles/colors.scss';
@import './src/styles/fonts.scss';

.toolbar
{
    margin-top: 80px
}

.toolbar
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.search, .select
{
    width: 100%
}

input
{
    @include font-bold;
    @include font-style(16px, $White, 36px);
    margin:20px 170px;
	padding: 10px;
	border-radius: 5px;
    background-color: $Blue;
    border: 2px solid $Dark-Gray;
    box-shadow: 3px 2px 10px 1px $Very-Dark-Blue;
    height: 40px;
    width: 50%
}

.mat-form-field
{
    @include font-bold;
    @include font-style(16px, $White, 36px);
    margin:20px 170px;
	padding: 10px;
	border: none;
	border-radius: 5px;
    background-color: $Blue;
    border: 2px solid $Dark-Gray;
    height: 64px;
    box-shadow: 3px 2px 10px 1px $Very-Dark-Blue;
    width: 40%
}

.mat-select-panel {
    background: rgba(255, 0, 0, 0.5);
  }

.mat-select-placeholder
{
    transition: none;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $White !important;
   }

   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: none !important;
  }

  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: none !important;
  }


select.mat-input-element:not(:disabled) {
    cursor: pointer;
    color: $White;
    background-color: $Dark-Blue;
    caret-color: none;
}