<div class="toolbar" fxLayoutAlign="center" fxlayout="column wrap">
    <div fxLayout="row" fxFlexAlign="center">
        <input placeholder="Type a country" type="text" [(ngModel)]="searchContents">
    </div>

    <div fxLayout="row" fxFlexAlign="center">
      <mat-form-field appearance="fill" name="regions">
        <mat-label>Select region</mat-label>
        <mat-select class="select">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let region of itemRegions" [value]="itemRegions.values">{{ region.key }}</mat-option>
        </mat-select>
    </mat-form-field>
    </div>

</div>
