<div class="toolbar" fxLayoutAlign="space-evenly" fxlayout="column wrap">
    <div class="search" fxLayoutAlign="start">
        <input #search [(ngModel)]="searchContents">
    </div>

    <div class="search" fxLayoutAlign="start">
        <mat-form-field appearance="fill">
            <mat-label>Select region</mat-label>
            <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let region of regions">{{region}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>