@import './src/styles/fonts.scss';

img
{
    cursor: pointer;
    position: absolute;
}

.toolbar
{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.select
{
  @include font-bold;
  @include font-style(16px, --text, 22px);
  margin:20px 170px;
  border-radius: 5px;
  background-color: var(--body);
  border: 2px solid var(--primary);
  box-shadow: 3px 2px 10px 1px var(--primary);
  height: 64px;
  width: auto;
}

input, .text
{
  @include font-bold;
  @include font-style(16px, --text, 36px);
  margin:20px 170px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--body);
  border: 2px solid var(--primary);
  box-shadow: 3px 2px 10px 1px var(--primary);
  height: 40px;
  width: auto;

    .text
{
  width: auto;
  background-color: var(--primary);
}

::ng-deep mat-form-field-flex
{
    @include font-bold;
    @include font-style(16px, --text, 20px);
    margin:20px 170px;
    padding: none !important;
    border: none;
	  border-radius: 5px;
    background-color: var(--body);
    border: 2px solid var(--primary);
    height: 64px;
    box-shadow: 3px 2px 10px 1px var(--primary);
    width: 40%
}

::ng-deep.mat-select-placeholder
{
  color: var(--primary) !important;
}

::ng-deep.mat-select-value
{
  color: var(--primary) !important;
}

::ng-deep.mat-form-field-label-wrapper {
  color: red !important;
}

::ng-deep.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: var(--text) !important;
   }

::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: var(--text) !important;
  }



::ng-deep.mat-form-field-wrapper {

    border-color: transparent !important;
}
::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0 !important;
    padding: 0 !important;
}
::ng-deep.mat-form-field-infix
{
    padding: 0 !important;
    color: transparent !important;
    border-color: transparent !important;
}

::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--primary);
}

}
