@import './src/styles/fonts.scss';

img
{
    cursor: pointer;
    position: absolute;
}

.toolbar
{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.search
{
    width: 100%;
    background-color: --primary
}

input
{
    @include font-bold;
    @include font-style(16px, --text, 36px);
    margin:20px 170px;
	padding: 10px;
	border-radius: 5px;
    background-color: --primary;
    border: 2px solid --body;
    box-shadow: 3px 2px 10px 1px --body;
    height: 40px;
    width: 50%
}

.mat-form-field
{
    @include font-bold;
    @include font-style(16px, --text, 36px);
    margin:20px 170px;
	padding: 10px;
	border: none;
	border-radius: 5px;
    background-color: --primary;
    border: 2px solid --body;
    height: 64px;
    box-shadow: 3px 2px 10px 1px --primary;
    width: 40%
}
.mat-select-placeholder
{
    transition: none;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: --text !important;
   }

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: none !important;
  }

::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: none !important;
  }

::ng-deep.mat-select-value {
    color: --text;
}

::ng-deep select.mat-input-element:not(:disabled) {
    cursor: pointer;
    color: --text  !important;
    background-color: --body;
    caret-color: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0;
}
