@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap);

$font-family: 'Montserrat';

@mixin font
{
    font-family: $font-family, sans-serif;
}

@mixin font-light
{
    @include font;
    font-weight: 300;
}

@mixin font-medium
{
    @include font;
    font-weight: 500;
}

@mixin font-bold
{
    @include font;
    font-weight: 700;
}

@mixin font-ExtraBold
{
    @include font;
    font-weight: 800;
}

@mixin font-black
{
    @include font;
    font-weight: 900;
}

@mixin font-style($size, $color, $line)
{
    font-size: $size;
    color: var($color);
    line-height: $line;
}