@import '/src/styles/colors.scss';
@import '/src/styles/fonts.scss';
@import '/src/styles/icons.scss';

.header
{
@include font-bold;
@include font-style(16px, $White, 36px);
height: 40px;
padding: .5rem;
background-color: $Dark-Blue;
border-bottom: solid 1px $Dark-Gray;
}

.dark-mode
{
    align-items: center;
}

h1
{
    @include font-bold;
    @include font-style(20px, $White, 16px);
    margin-left: 10px;
}

input
{
    height: 30px;
    width: 30px;
}

img
{
    height: 20px;
    width: 20px;
    padding: 5px;

    :hover
    {
        fill: aqua;
    }
}