@import '/src/styles/colors.scss';
@import '/src/styles/fonts.scss';

.header
{
width: 100%;
height: 35%;
height: 40px;
padding: .5rem;
background-color: $Dark-Blue;
border-bottom: solid 1px $Dark-Gray;
}

h1
{
    @include font-bold;
    @include font-style(20px, $White, 16px);
    margin-left: 10px;
}

input
{
    height: 30px;
    width: 30px;
}