@import './src/styles/fonts.scss';
@import './src/styles/breakpoints.scss';

p
{
    @include font-bold;
    @include font-style(40px, --text, 24px);
}

.grid
{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;
}
