@import './src/styles/fonts.scss';

::ng-deep.mat-snack-bar-container
{
    color: var(--primary);
    background: var(--body);
}

@mixin base($color, $background, $lblColor)
{
    color: $color;
    background: $background;
    @include font-light;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label
    {
        @include font-medium;
        cursor: pointer;
        font-size: 14px;
        padding: 16px;
        border-radius: 10px;
        color: $lblColor;
        &:active
        {
            background-color: var(--body);
        }
    }
}

.default
{
    @include base(var(--primary), var(--body), var(--text));
}

.success
{
    @include base(var(--primary), var(--body), var(--primary));
}

.warning
{
    @include base(var(--primary), var(--body), var(--primary));
}
