@import './src/styles/fonts.scss';

::ng-deep.mat-snack-bar-container
{
    color: --primary;
    background: transparent;
    box-shadow:none;
}

@mixin base($color, $background, $lblColor)
{
    color: $color;
    background: $background;
    @include font-light;
    border-radius: 5px;
    padding: 7px 15px;
    min-height: 48px;
    line-height: 19px;
    label
    {
        @include font-medium;
        cursor: pointer;
        font-size: 14px;
        padding: 16px;
        border-radius: 10px;
        color: $lblColor;
        &:active
        {
            background-color: --body;
        }
    }
}

.default
{
    @include base(--primary, --body, --text);
}

.success
{
    @include base(--primary, --body, --primary);
}

.warning
{
    @include base(--primary, --body, --primary);
}
