@import './src/styles/colors.scss';
@import './src/styles/fonts.scss';

::ng-deep.mat-snack-bar-container
{
    color: $White;
    background: transparent;
    box-shadow:none;
}

@mixin base($color, $background, $lblColor)
{
    color: $color;
    background: $background;
    @include font-light;
    border-radius: 5px;
    padding: 7px 15px;
    min-height: 48px;
    line-height: 19px;
    label
    {
        @include font-medium;
        cursor: pointer;
        font-size: 14px;
        padding: 16px;
        border-radius: 10px;
        color: $lblColor;
        &:active
        {
            background-color: $Very-Light-Gray;
        }
    }
}

.default
{
    @include base(rgba($White, .7), $Dark-Blue, $Dark-Gray);
}

.success
{
    @include base($White, $Dark-Blue, $White);
}

.warning
{
    @include base($White, $Dark-Blue, $White);
}
