@import url(https://fonts.googleapis.com/css2?family=Montserrat);

$font-family: 'Montserrat';

@mixin font
{
    font-family: $font-family, sans-serif;
}

@mixin font-light
{
    @include font;
    font-weight: 300;
}

@mixin font-medium
{
    @include font;
    font-weight: 600;
}

@mixin font-bold
{
    @include font;
    font-weight: 800;
}

@mixin font-style($size, $color, $line)
{
    font-size: $size;
    color: $color;
    line-height: $line;
}