@import './src/styles/fonts.scss';

.toolbar
{
    margin-top: 80px;
    flex-flow: wrap;
    box-sizing: border-box;
    display: flex;
    place-content: stretch center;
    align-items: stretch;
    justify-content: space-around;
    align-items: center;
    padding: 32px
  }

select
{
  @include font-bold;
  @include font-style(16px, --text, 22px);
  border-radius: 5px;
  background-color: var(--body);
  border: 2px solid var(--primary);
  height: 35px;
  color: var(--text)
}

input
{
  @include font-bold;
  @include font-style(16px, --text, 36px);

  border-radius: 5px;
  background-color: var(--body);
  border: 2px solid var(--primary);
  height: 20px;
  width: auto;
  padding: 5px;
}
