
:root {
    --primary:  hsl(0, 0%, 52%); // ligth Mode Input
    --body: hsl(0, 0%, 98%); // Light Mode Background
    --text: hsl(200, 15%, 8%); // Light Mode text
    }


:root .dark-theme
    {
    --primary:  hsl(209, 23%, 22%); // Dark Mode Elements
    --body: hsl(207, 26%, 17%); // Dark Mode Backgroud
    --text:  hsl(0, 0%, 100%); // Dark Mode text & Light mode elements
    }


html, body
{
    margin: 0;
    padding: 0;
    background-color: var(--body);
    box-sizing: inherit;

        body:before
    {
        position: absolute;
        height: fit-content;
        background-color: var(--body);
    }

    @mixin mobile
{
    @media screen and (max-width: #{$Mobile})
    {
        @content;
    }
}

@mixin desktop
{
    @media screen and (max-width: #{$Desktop})
    {
        @content;
    }
}


}
