:root .ligth-theme {
    --primary:  hsl(0, 0%, 52%);
    --body: hsl(0, 0%, 98%);
    --text: hsl(200, 15%, 8%);
    }


:root .dark-theme
    {
    --primary:  hsl(207, 26%, 17%);
    --body: hsl(200, 15%, 8%);
    --text:  hsl(0, 0%, 100%);
    }


html, body {
     height: 100%;
     margin: 0;
     background-color: var(--body);}