@import './src/styles/colors.scss';
@import './src/styles/fonts.scss';

p
{
    @include font-bold;
    @include font-style(40px, $White, 24px);
}

.container
{
background-color: $Very-Dark-Blue
}


.grid
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
