<app-loading *ngIf="(loading$ | async) === true"></app-loading>

<div class="container" *ngIf="(loading$ | async) === false">
    <app-header></app-header>

    <app-toolbar></app-toolbar>

    <div class="grid" fxLayout="row wrap" fxLayoutAlign="center" fxlayout="column wrap">
        <app-card *ngFor="let country of countries" [flag]="country.flags.png" [name]="country.name.common"
            [population]="country.population" [region]="country.region" [capital]="country.capital" mat-button
            (click)="openDialog(country)" draggable="false">
        </app-card>
    </div>

    <mat-paginator [length]="countries.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]"
        aria-label="Select page" [color]="'primary'">
    </mat-paginator>
</div>