<div class="container">
    <app-header></app-header>

    <app-toolbar></app-toolbar>

    <div class="grid" fxLayout="start wrap">
        <app-card *ngFor="let country of countries" [flag]="country.flags.png" [name]="country.name.common"
            [population]="country.population" [region]="country.region" [capital]="country.capital" mat-button
            (click)="openDialog(country)">
        </app-card>
    </div>

    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
        [color]="'primary'">
    </mat-paginator>
</div>